<?xml version="1.0"?>

<launch>

    <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>
    <param name="/use_sim_time" value="false"/>

    <node name="static_tf0" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0  /world /map 100"/>

    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_frame"
          args="0.0 0.0 0.0 0.0 0.0 0.0 /base_footprint /base_frame 10"/>

    <node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser"
          args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame /laser 10"/>

    <include file="$(find race_2019)/launch/mapping.launch">
        <arg name="pub_map_odom_transform" value="false"/>
    </include>



    <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
        <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
        <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
    </include>

</launch>
